<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="LiquidTypeSettings" type="WanTai.Common.LiquidTypeConfigSection, WanTai.Common"/>
    <section name="ReagentSuppliesTypeSettings" type="WanTai.Common.ReagentSuppliesTypeConfigSection, WanTai.Common"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <!--数据库连接配置 Data Source=[服务器地址];Initial Catalog=[数据库名称];User ID=[数据库登陆用户名];Password=[数据库登陆密码]-->
    <add name="WanTaiEntities" providerName="System.Data.EntityClient" connectionString="metadata=res://*/WanTai.csdl|res://*/WanTai.ssdl|res://*/WanTai.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=JOSH55D0\SQLEXPRESS;Initial Catalog=WanTag;Integrated Security=True;MultipleActiveResultSets=True&quot;"/>
    <!--KingFisher数据库连接配置-->
    <add name="WanTaiConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=JOSH55D0\SQLEXPRESS;Initial Catalog=WanTag;Integrated Security=True;"/>
    <add name="KingFisherConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=JOSH55D0\THERMO;Initial Catalog=BindIt_KF_RE;Integrated Security=True;"/>
  </connectionStrings>
  <appSettings>
    <!--evo 登陆用户名-->
    <add key="Username" value="Admin"/>
    <!--evo 登陆密码-->
    <add key="Password" value="admin15"/>
    <add key="Simulation" value="false"/>
    <!--Evoware.exe 安装目录-->
    <add key="EvoWarePath" value="C:\\Program Files (x86)\\TECAN\\EVOware\\Evoware.exe"/>
    <!--evo 输出文件目录-->
    <add key="EvoOutputPath" value="C:\ProgramData\Tecan\EVOware\output\"/>
    <!--evo 采血管扫描文件名-->
    <add key="TubeScanResultFileName" value="scan.csv"/>
    <!--evo 试剂耗材扫描文件名-->
    <add key="ScanResultFileName" value="scan.csv"/>
    <!--evo 脚本目录-->
    <add key="EvoScriptFileLocation" value="C:\ProgramData\Tecan\EVOware\database\scripts\"/>
    <!--evo 扫描脚本名称-->
    <add key="TubesScanScriptName" value="Test_ScanAllTubes.esc"/>
    <!--evo 试剂耗材扫描脚本名称-->
    <add key="LabwaresScanScriptName" value="Test_ScanAllLabwares.esc"/>
    <!--SampleTracking 输出目录-->
    <add key="SampleTracking" value="Sample Tracking\"/>
    <!-- evo 试剂液面探测结果输出文件名-->
    <add key="LiquidDetection" value="detectedliquid.csv"/>
    <!-- evo PCR配液液面探测结果输出文件名-->
    <add key="PCRDetection" value="PCRLiquid.csv"/>
    <!--worklist 目录-->
    <add key="WorkListFilePath" value="C:\ProgramData\Tecan\EVOware\database\worklist\"/>
    <!--混样worklist文件名-->
    <add key="AddSamplesWorkListFileName" value="Add Samples.csv"/>
    <!-- evo 脚本变量目录-->
    <add key="EvoVariableOutputPath" value="C:\ProgramData\Tecan\EVOware\database\Variable Output\"/>
    <!-- evo 混样数文件名-->
    <add key="SampleNumberFileName" value="SAMPLE_NUM_EX.csv"/>
    <!-- evo 样品检测项目数文件名-->
    <add key="MixSampleNumberFileName" value="MIXSAMPLE_NUM_EX.csv"/>
    <!-- evo 试剂报警百分比设置-->
    <add key="MinVolume" value="0.05"/>
    <add key="WarningSleepTime" value="1000"/>
    <add key="EvoWareLogPath" value="C:\ProgramData\Tecan\EVOware\AuditTrail\log\"/>
    <!--防护门命令-->
    <add key="CheckDoorLockStatusCommand" value="Command(&quot;O2RLO1&quot;,5,1,1,,2,2,0)"/>
    <!--仪器维护脚本名-->
    <add key="MaintainEvoScriptName" value="TEST_5_MAINTAIN.esc"/>
    <!--Thermo Kingfisher用户名-->
    <add key="ThermoUsername" value="Admin"/>
    <!--Thermo Kingfisher密码-->
    <add key="ThermoPassword" value=""/>
    <!--Thermo Kingfisher连接组件名 -->
    <add key="ThermoInstrumentName" value="KingFisher"/>
    <!--Thermo KingfisherAI PLUGIN 路径 -->
    <add key="ThermoPluginPath" value="C:\\Program Files (x86)\\Thermo\\BindIt 3.3\\AITester\\Plugins\\"/>
    <!--EVO 脚本中标记Kingfisher仪器开始运行文件名 -->
    <add key="KingFisherScriptName" value="KingFisherBegin.csv"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="PlatesBarCodes" value="PlatesBarCodes.txt"/>
    <!--EVO 扫描时输入列数 1-36文件名-->
    <add key="ScanTubesColumnNumberFileName" value="Scan Tubes Column Number.CSV"/>
    <!--两次上样配置文件名-->
    <add key="AddSampleTimesFileName" value="Add Sample Times.CSV"/>
    <!--仪器复位脚本-->
    <add key="TecanRestorationScriptName" value="TEST_6_INITALIZE.esc"/>
    <add key="NextTurnStepScriptName" value="NextTurnStep.csv"/>
    <!--是否是mock, true代表mock, false代表真实evo环境-->
    <add key="IsMock" value="true"/>
    <add key="GoToNextTurnScripts" value="TEST_3_TIQUANDMIX.esc;TEST_3_TIQUANDMIX_NoPCRLiquid.esc"/>
    <add key="WorkDeskType" value="150"/>
  </appSettings>
  <LiquidTypeSettings>
    <LiquidTypes>
      <add typeName="阴性对照" typeId="3" color="green" hasVolume="false" canSelectedMultiCell="false"/>
      <add typeName="阳性对照" typeId="2" color="red" hasVolume="false" canSelectedMultiCell="false"/>
      <add typeName="样品补充液111" typeId="1" color="yellow" hasVolume="true" defaultVolume="40" canSelectedMultiCell="true"/>
    </LiquidTypes>
  </LiquidTypeSettings>
  <ReagentSuppliesTypeSettings>
    <ReagentSuppliesTypes>
      <add typeName="试剂" typeId="0" unit="μl"/>
      <add typeName="HBV" typeId="10" unit="μl"/>
      <add typeName="HCV" typeId="15" unit="μl"/>
      <add typeName="HIV" typeId="20" unit="μl"/>
      <add typeName="（Microtiter） DW 96 plate" typeId="101" unit="块"/>
      <add typeName="96 Tip Comb+（Microtiter） DW 96 plate" typeId="102" unit="块"/>
      <add typeName="PCR plate" typeId="103" unit="块"/>
      <add typeName="DiTi 1000ul" typeId="104" unit="盒"/>
      <add typeName="DiTi 200ul" typeId="105" unit="盒"/>
      <add typeName="PCR Heat Liquid Plate" typeId="205" unit="块"/>
    </ReagentSuppliesTypes>
  </ReagentSuppliesTypeSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
