<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="LiquidTypeSettings" type="WanTai.Common.LiquidTypeConfigSection, WanTai.Common" />
    <section name="ReagentSuppliesTypeSettings" type="WanTai.Common.ReagentSuppliesTypeConfigSection, WanTai.Common" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="WanTaiEntities" connectionString="metadata=res://*/WanTai.csdl|res://*/WanTai.ssdl|res://*/WanTai.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=WANTAI\SQLEXPRESS;Initial Catalog=wantai;User ID=wantai;Password=o7a@bj;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="WanTaiConnectionString" connectionString="Data Source=WANTAI\SQLEXPRESS;Initial Catalog=wantai;User ID=wantai;Password=o7a@bj" providerName="System.Data.SqlClient" />
  
  </connectionStrings>
  <appSettings>
    <add key="Username" value="Admin" />
    <add key="Password" value="tecan" />
    <add key="Simulation" value="false" />
    <add key="EvoOutputPath" value="evo\output\" />
    <add key="TubeScanResultFileName" value="Tubescan.csv" />
    <add key="ScanResultFileName" value="scan.csv" />
    <add key="EvoScriptFileLocation" value="evo\database\scripts\" />
    <add key="TubesScanScriptName" value="Test_ScanAllTubes.esc" />
    <add key="LabwaresScanScriptName" value="Test_ScanAllLabwares.esc" />
    <add key="SampleTracking" value="Sample Tracking\" />
    <add key="LiquidDetection" value="detectedliquid.csv" />
    <add key="PCRDetection" value="PCRLiquid.csv" />
    <add key="WorkListFilePath" value="evo\worklist\" />
    <add key="AddSamplesWorkListFileName" value="Add Samples.csv" />
    <add key="EvoVariableOutputPath" value="evo\database\Variable Output\" />
    <add key="SampleNumberFileName" value="SAMPLE_NUM_EX.csv" />
    <add key="MixSampleNumberFileName" value="MIXSAMPLE_NUM_EX.csv" />
    <add key="MinVolume" value="0.05" />
    <add key="WarningSleepTime" value="1000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <LiquidTypeSettings>
    <LiquidTypes>
      <add typeName="阴性对照" typeId="3" color="green" hasVolume="false" canSelectedMultiCell="false" />
      <add typeName="阳性对照" typeId="2" color="red" hasVolume="false" canSelectedMultiCell="false" />
      <add typeName="样品补充液" typeId="1" color="yellow" hasVolume="true" defaultVolume="40" canSelectedMultiCell="true" />
    </LiquidTypes>
  </LiquidTypeSettings>
  <ReagentSuppliesTypeSettings>
    <ReagentSuppliesTypes>
      <add typeName="试剂" typeId="0" unit="μl">
      </add>
      <add typeName="HIV" typeId="10" unit="μl">
      </add>
      <add typeName="HBV" typeId="15" unit="μl">
      </add>
      <add typeName="HCV" typeId="20" unit="μl">
      </add>
      <add typeName="TB" typeId="25" unit="μl">
      </add>
      <add typeName="（Microtiter） DW 96 plate" typeId="101">
      </add>
      <add typeName="96 Tip Comb+（Microtiter） DW 96 plate" typeId="102">
      </add>
      <add typeName="PCR plate" typeId="103">
      </add>
      <add typeName="DiTi 1000ul" typeId="104">
      </add>
      <add typeName="DiTi 200ul" typeId="105">
      </add>
    </ReagentSuppliesTypes>
  </ReagentSuppliesTypeSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>