<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- EVOware下脚本需要的VariableOutput路径设置-->
    <add key="EvoVariableOutputPath" value="D:\project\Wantai\SVN\wantai\workspace\trunk\WanTai\WanTai.View\bin\Debug\evo\database\Variable Output\" />
    <!-- EVOware下脚本需要的记录1000枪头盒在shelft架子上的位置的文件名-->
    <add key="Diti1000File" value="NEWDITI1000_SITE.CSV"/>
    <!-- EVOware下脚本需要的记录200枪头盒在shelft架子上的位置的文件名-->
    <add key="Diti200File" value="NEWDITI200_SITE.CSV"/>
    <!-- 仪器维护脚本洗液1的名称-->
    <add key="wash1" value="水"/>
    <!-- 仪器维护脚本洗液2的名称-->
    <add key="wash2" value="碱"/>
    <!-- 仪器维护脚本洗液3的名称-->
    <add key="wash3" value="酸"/>
    <add key="WorkDeskType" value="200"/>
  </appSettings>
</configuration>